<html>

<head>
    <title>Amazon</title>
    <link rel="icon" href="/uploads/amazonicon.jpg">
    <meta charset="utf-8">
</head>
<style>
    body {
        position: relative;
        margin: 0;
        padding: 0;
        background-color: #EAEDED;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20;
    }

    #Amazon {
        position: absolute;
        width: 1828px;
        height: 100px;
        background-color: #232f3e;
        padding-top: 3px;
        padding-left: 25px;
    }

    #back {
        position: absolute;
        top: 20px;
        right: 40px;
        border: 0;
        outline: 0;
        background-color: transparent;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #ffffff;
        padding: 5px;
        border-radius: 2px;
        width: 65px;
    }

    #payment {
        position: absolute;
        top: 200px;
        left: 700px;
        background-color: rgba(43, 255, 43, 0.377);
        height: 30px;
        width: 400px;
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        font-size: 22px;
        color: #024407;
        font-weight: bold;
    }
</style>

<body>
    <div id="Amazon">
        <img src="/uploads/amazon.png" height="65px" width="105px">
        <form method="get" action="/user">
            <input id="back" type="submit" value="Back">
        </form>
    </div>
    <div id="payment">Payment was successful!</div>
</body>

</html>